	body{
		font-family: 'Lato', sans-serif !important;
		background-color: #f2f2f2 !important; 
		margin: 0;
		padding: 0;
	}
	.nav{
	    border:1px solid #ccc;
	    border-width:1px 0;
	    list-style:none;
	    margin:0;
	    padding:0;
	    text-align:center;
	}
	.nav li{
	    display:inline;
	}
	.nav a{
	    display:inline-block;
	    padding:10px;
	}
	img{
		width: 100%;
		height: auto;
		margin-left: 12rem;
		display: block;
	}

	.products{
		width: 15%;
		height: auto;
	}

	#contact{
		background: #F8A434;
		font-family: 'Lato', sans-serif;
		color: #FDFCFB;

	}

	#area{
		width: 50%;
		background: #FDFCFB;
		font-family: inherit;
		color: #737373;
		letter-spacing: 1px;
		text-indent: 5%;
		border-radius: 5px 0 0 5px;
	}

	.title{
		font-size: 35px;
		text-transform: uppercase;
		letter-spacing: 5px;
		text-align: center;
	}
	input{
		display: flex;
	}
	.button{
		height: 44px;
		border: none;
	}

	#submit {
		width: 50%;
		height: 46px;
		background: #E86C8D;
		font-family: inherit;
		font-weight: bold;
		color: inherit;
		letter-spacing: 1px;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		text-align: center !important;
		margin-top:2rem;
		transition: background .3s ease-in-out;
	}


	#submit:hover {
		background: #d45d7d;
		}
		

	input:focus {
		outline: none;
		outline: 2px solid #E86C8D;
		box-shadow: 0 0 2px #E86C8D;
		}
			

	.form{
		width: 80%;
		margin: 5% auto;
	}

	#map {
		width: 500px;
		height: 400px;
	}

	


	#tequila{
		background-color: white;
		height: 52rem;
	}

	.logo{
		width: 10%;
	}

	#footer{
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 1rem;
		height: 2rem;
		background-color: #0a0f0f;
	}
